.idea/*
/hackerrank/beautiful_day_at_the_movies/output/output.txt
/hackerrank/points_in_a_plane/output/output.txt
/hackerrank/sequence_equation/output/output.txt
/hackerrank/save_the_prisoner/output/output.txt
